<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar">
        <div class="sidebar-heading">
          <span class="sidebar-heading-name">Gentella Alela!</span>
        </div> 

        <div class="sidebar-welcome-box">
          <div class="sidebar-welcome-img-box">
            <img src="../../../assets/jbicon.png" alt="JB ICON" class="sidebar-welcome-img">
          </div>
          <div>
            <span>Welcome,</span><br>
            <span>John Doe</span>
          </div>
        </div>

        <ul class="menu">
          <li class="menu__list">
            <a [routerLink]="['/dashboard']" class="menu__list--item">Home</a>
          </li>
          <li class="menu__list">
            <a [routerLink]="['/dashboard']" class="menu__list--item">Forms</a>
          </li>
          <li class="menu__list">
            <a href="" class="menu__list--item">UI Elements</a>
          </li>
          <li class="menu__list">
            <a href="" class="menu__list--item">Data representation</a>
          </li>
          <li class="menu__list">
              <a href="" class="menu__list--item">Settings</a>
          </li>  
        </ul>
      </div>
    </div>
  </div>  
</div>
